{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Threats Viewer</title>
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5">Latest Threats</h1>
        <div  class="mb-5"></div>
        <div class="row">
            <div class="col-12 p-0">
                    <div id="js-messages-wrapper"></div>
            </div>
            <div class="col bg-white p-4">
                <div class="form-group align-items-end">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="js-time-period" class="control-label">Sort by Time Period:</label>
                        </div>
                        <div class="col-sm-2">
                            <select name="time-period" id="js-time-period" class="form-control">
                                <option value=""></option>
                                <option value="24-hour">24 Hours</option>
                                <option value="7-days">7 Days</option>
                                <option value="4-weeks">4 Weeks</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table id="js-threats-table" class="table display">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Filename</th>
                            <th>Action</th>
                            <th>Submit Type</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Filename</th>
                            <th>Action</th>
                            <th>Submit Type</th>
                            <th>Rating</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'notification.js' %}"></script>
</body>

</html>